<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

 
   
    <!-- TODO: use inversion of control instead of this !-->
    <bean id="applicationContextProvider" class="spring.ApplicationContextProvider"></bean>

<!--<bean name="/feb/*"
class="spring.FEBController"/>-->

<!-- TODO: Use properties
    TODO: Encrypt password
    <bean id="dataSource"
class="org.apache.commons.dbcp.BasicDataSource"
destroy-method="close"
p:driverClassName="${dataSource.driverClassName}"
p:url="${dataSource.url}"
p:username="${dataSource.username}"
p:password="${dataSource.password}" /> -->

    <bean id="dataSource"
class="org.apache.commons.dbcp.BasicDataSource"
destroy-method="close"
p:driverClassName="org.postgresql.Driver"
p:url="jdbc:postgresql://127.0.0.1:5432/federacao"
p:username="feb"
p:password="feb@RNP" />

<bean id="documentosDAO"
    class="modelos.DocumentosHibernateDAO"
    />
    
<bean id="sessionFactory"
    class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:hibernate.cfg.xml" />
</bean>

    
<bean id="hibernateTemplate"
    class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory" />
</bean>


    
 <bean id="repositoryDAO"
    class="modelos.RepositoryHibernateDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
 </bean>

 <bean id="subFederationDAO"
    class="modelos.SubFederacaoHibernateDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
 </bean>

 
</beans>
