* text=auto !eol
/create-deb.sh -text
docs/README -text
docs/env_dev.txt -text
docs/env_exec.txt -text
docs/javadoc/allclasses-frame.html -text
docs/javadoc/allclasses-noframe.html -text
docs/javadoc/constant-values.html -text
docs/javadoc/deprecated-list.html -text
docs/javadoc/ferramentaBusca/Busca.html -text
docs/javadoc/ferramentaBusca/IndexadorBusca.html -text
docs/javadoc/ferramentaBusca/class-use/Busca.html -text
docs/javadoc/ferramentaBusca/class-use/IndexadorBusca.html -text
docs/javadoc/ferramentaBusca/indexador/Documento.html -text
docs/javadoc/ferramentaBusca/indexador/Indexador.html -text
docs/javadoc/ferramentaBusca/indexador/class-use/Documento.html -text
docs/javadoc/ferramentaBusca/indexador/class-use/Indexador.html -text
docs/javadoc/ferramentaBusca/indexador/package-frame.html -text
docs/javadoc/ferramentaBusca/indexador/package-summary.html -text
docs/javadoc/ferramentaBusca/indexador/package-tree.html -text
docs/javadoc/ferramentaBusca/indexador/package-use.html -text
docs/javadoc/ferramentaBusca/package-frame.html -text
docs/javadoc/ferramentaBusca/package-summary.html -text
docs/javadoc/ferramentaBusca/package-tree.html -text
docs/javadoc/ferramentaBusca/package-use.html -text
docs/javadoc/ferramentaBusca/recuperador/Recuperador.html -text
docs/javadoc/ferramentaBusca/recuperador/class-use/Recuperador.html -text
docs/javadoc/ferramentaBusca/recuperador/package-frame.html -text
docs/javadoc/ferramentaBusca/recuperador/package-summary.html -text
docs/javadoc/ferramentaBusca/recuperador/package-tree.html -text
docs/javadoc/ferramentaBusca/recuperador/package-use.html -text
docs/javadoc/help-doc.html -text
docs/javadoc/index-files/index-1.html -text
docs/javadoc/index-files/index-10.html -text
docs/javadoc/index-files/index-11.html -text
docs/javadoc/index-files/index-12.html -text
docs/javadoc/index-files/index-13.html -text
docs/javadoc/index-files/index-14.html -text
docs/javadoc/index-files/index-15.html -text
docs/javadoc/index-files/index-16.html -text
docs/javadoc/index-files/index-17.html -text
docs/javadoc/index-files/index-18.html -text
docs/javadoc/index-files/index-19.html -text
docs/javadoc/index-files/index-2.html -text
docs/javadoc/index-files/index-3.html -text
docs/javadoc/index-files/index-4.html -text
docs/javadoc/index-files/index-5.html -text
docs/javadoc/index-files/index-6.html -text
docs/javadoc/index-files/index-7.html -text
docs/javadoc/index-files/index-8.html -text
docs/javadoc/index-files/index-9.html -text
docs/javadoc/index.html -text
docs/javadoc/login/Usuario.html -text
docs/javadoc/login/class-use/Usuario.html -text
docs/javadoc/login/package-frame.html -text
docs/javadoc/login/package-summary.html -text
docs/javadoc/login/package-tree.html -text
docs/javadoc/login/package-use.html -text
docs/javadoc/mysql/AtualizaBase.html -text
docs/javadoc/mysql/Conectar.html -text
docs/javadoc/mysql/Configuracao.html -text
docs/javadoc/mysql/ConsultaNomeFederacao.html -text
docs/javadoc/mysql/Excluir.html -text
docs/javadoc/mysql/class-use/AtualizaBase.html -text
docs/javadoc/mysql/class-use/Conectar.html -text
docs/javadoc/mysql/class-use/Configuracao.html -text
docs/javadoc/mysql/class-use/ConsultaNomeFederacao.html -text
docs/javadoc/mysql/class-use/Excluir.html -text
docs/javadoc/mysql/package-frame.html -text
docs/javadoc/mysql/package-summary.html -text
docs/javadoc/mysql/package-tree.html -text
docs/javadoc/mysql/package-use.html -text
docs/javadoc/operacoesLdap/Consultar.html -text
docs/javadoc/operacoesLdap/Editar.html -text
docs/javadoc/operacoesLdap/Inserir.html -text
docs/javadoc/operacoesLdap/ReiniciarServico.html -text
docs/javadoc/operacoesLdap/Remover.html -text
docs/javadoc/operacoesLdap/class-use/Consultar.html -text
docs/javadoc/operacoesLdap/class-use/Editar.html -text
docs/javadoc/operacoesLdap/class-use/Inserir.html -text
docs/javadoc/operacoesLdap/class-use/ReiniciarServico.html -text
docs/javadoc/operacoesLdap/class-use/Remover.html -text
docs/javadoc/operacoesLdap/package-frame.html -text
docs/javadoc/operacoesLdap/package-summary.html -text
docs/javadoc/operacoesLdap/package-tree.html -text
docs/javadoc/operacoesLdap/package-use.html -text
docs/javadoc/overview-frame.html -text
docs/javadoc/overview-summary.html -text
docs/javadoc/overview-tree.html -text
docs/javadoc/package-list -text
docs/javadoc/resources/inherit.gif -text
docs/javadoc/robo/harvesterOAI/GetRecord.html -text
docs/javadoc/robo/harvesterOAI/HarvesterVerb.html -text
docs/javadoc/robo/harvesterOAI/Identify.html -text
docs/javadoc/robo/harvesterOAI/ListIdentifiers.html -text
docs/javadoc/robo/harvesterOAI/ListMetadataFormats.html -text
docs/javadoc/robo/harvesterOAI/ListRecords.html -text
docs/javadoc/robo/harvesterOAI/ListSets.html -text
docs/javadoc/robo/harvesterOAI/Principal.html -text
docs/javadoc/robo/harvesterOAI/class-use/GetRecord.html -text
docs/javadoc/robo/harvesterOAI/class-use/HarvesterVerb.html -text
docs/javadoc/robo/harvesterOAI/class-use/Identify.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListIdentifiers.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListMetadataFormats.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListRecords.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListSets.html -text
docs/javadoc/robo/harvesterOAI/class-use/Principal.html -text
docs/javadoc/robo/harvesterOAI/package-frame.html -text
docs/javadoc/robo/harvesterOAI/package-summary.html -text
docs/javadoc/robo/harvesterOAI/package-tree.html -text
docs/javadoc/robo/harvesterOAI/package-use.html -text
docs/javadoc/robo/importaLDAP/AtualizaLDAP.html -text
docs/javadoc/robo/importaLDAP/Insere.html -text
docs/javadoc/robo/importaLDAP/class-use/AtualizaLDAP.html -text
docs/javadoc/robo/importaLDAP/class-use/Insere.html -text
docs/javadoc/robo/importaLDAP/package-frame.html -text
docs/javadoc/robo/importaLDAP/package-summary.html -text
docs/javadoc/robo/importaLDAP/package-tree.html -text
docs/javadoc/robo/importaLDAP/package-use.html -text
docs/javadoc/robo/importa_OAI_DC/Header.html -text
docs/javadoc/robo/importa_OAI_DC/InicioLeituraXML.html -text
docs/javadoc/robo/importa_OAI_DC/InsereLdap.html -text
docs/javadoc/robo/importa_OAI_DC/OAI_DC.html -text
docs/javadoc/robo/importa_OAI_DC/XmlSaxReader.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/Header.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/InicioLeituraXML.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/InsereLdap.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/OAI_DC.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/XmlSaxReader.html -text
docs/javadoc/robo/importa_OAI_DC/package-frame.html -text
docs/javadoc/robo/importa_OAI_DC/package-summary.html -text
docs/javadoc/robo/importa_OAI_DC/package-tree.html -text
docs/javadoc/robo/importa_OAI_DC/package-use.html -text
docs/javadoc/robo/main/Robo.html -text
docs/javadoc/robo/main/Start.html -text
docs/javadoc/robo/main/Temporizador.html -text
docs/javadoc/robo/main/class-use/Robo.html -text
docs/javadoc/robo/main/class-use/Start.html -text
docs/javadoc/robo/main/class-use/Temporizador.html -text
docs/javadoc/robo/main/package-frame.html -text
docs/javadoc/robo/main/package-summary.html -text
docs/javadoc/robo/main/package-tree.html -text
docs/javadoc/robo/main/package-use.html -text
docs/javadoc/robo/util/Informacoes.html -text
docs/javadoc/robo/util/class-use/Informacoes.html -text
docs/javadoc/robo/util/package-frame.html -text
docs/javadoc/robo/util/package-summary.html -text
docs/javadoc/robo/util/package-tree.html -text
docs/javadoc/robo/util/package-use.html -text
docs/javadoc/serialized-form.html -text
docs/javadoc/stylesheet.css -text
docs/release_notes.txt -text
src/Makefile -text
src/README.txt -text
src/build.xml -text
src/config/sun-checks.xml -text
src/configure -text
src/cucumber/README -text
src/cucumber/features/admin.feature -text
src/cucumber/features/hooks.rb -text
src/cucumber/features/repositorios.feature -text
src/cucumber/features/step_definitions/search_steps.rb -text
src/cucumber/features/support/env.rb -text
src/cucumber/vazio.c -text
src/cucumber/vazio.sh -text
src/dc2obaa.xml -text
src/debian/README.Debian -text
src/debian/README.source -text
src/debian/changelog -text
src/debian/compat -text
src/debian/control -text
src/debian/copyright -text
src/debian/docs -text
src/debian/emacsen-install.ex -text
src/debian/emacsen-remove.ex -text
src/debian/emacsen-startup.ex -text
src/debian/feb.cron.d.ex -text
src/debian/feb.debhelper.log -text
src/debian/feb.default.ex -text
src/debian/feb.doc-base.EX -text
src/debian/feb.substvars -text
src/debian/files -text
src/debian/init.d.ex -text
src/debian/manpage.1.ex -text
src/debian/manpage.sgml.ex -text
src/debian/manpage.xml.ex -text
src/debian/menu.ex -text
src/debian/postinst -text
src/debian/postinst.ex -text
src/debian/postrm -text
src/debian/postrm.ex -text
src/debian/preinst.ex -text
src/debian/prerm.ex -text
src/debian/rules -text
src/debian/source/format -text
src/debian/watch.ex -text
src/nb-configuration.xml -text
src/nbactions.xml -text
src/pom.xml -text
src/settings.xml -text
src/sql/current_2_old.sql -text
src/sql/current_old.sql -text
src/sql/data.sql -text
src/sql/schema.sql -text
src/src/conf/MANIFEST.MF -text
src/src/java/Exception/RepositoriosException.java -text
src/src/java/RSS/Rss.java -text
src/src/java/feb/oai/HibernateOAICatalog.java -text
src/src/java/feb/oai/server/catalog/XMLRecordFactoryObaa.java -text
src/src/java/feb/oai/server/crosswalk/XML2oai_obaa.java -text
src/src/java/ferramentaAdministrativa/validarOAI/ParserIdentify.java -text
src/src/java/ferramentaAdministrativa/validarOAI/VerificaLinkOAI.java -text
src/src/java/ferramentaBusca/IndexadorBusca.java -text
src/src/java/ferramentaBusca/LRU.java -text
src/src/java/ferramentaBusca/Recuperador.java -text
src/src/java/ferramentaBusca/indexador/Documento.java -text
src/src/java/ferramentaBusca/indexador/Indexador.java -text
src/src/java/ferramentaBusca/indexador/StopWordTAD.java -text
src/src/java/ferramentaBusca/indexador/package.html -text
src/src/java/ferramentaBusca/package.html -text
src/src/java/metadata/conversor/Conversor.java -text
src/src/java/metadata/conversor/Rule.java -text
src/src/java/metadata/conversor/package-info.java -text
src/src/java/modelos/AbstractHibernateDAO.java -text
src/src/java/modelos/Autor.java -text
src/src/java/modelos/Consulta.java -text
src/src/java/modelos/DocumentoFebInterface.java -text
src/src/java/modelos/DocumentoReal.java -text
src/src/java/modelos/DocumentosDAO.java -text
src/src/java/modelos/DocumentosHibernateDAO.java -text
src/src/java/modelos/Estatistica.java -text
src/src/java/modelos/Mapeamento.java -text
src/src/java/modelos/MapeamentoDAO.java -text
src/src/java/modelos/MapeamentoHibernateDAO.java -text
src/src/java/modelos/Objeto.java -text
src/src/java/modelos/PadraoMetadados.java -text
src/src/java/modelos/PadraoMetadadosDAO.java -text
src/src/java/modelos/PadraoMetadadosHibernateDAO.java -text
src/src/java/modelos/Repositorio.java -text
src/src/java/modelos/RepositorioGenerico.java -text
src/src/java/modelos/RepositorioSubFed.java -text
src/src/java/modelos/RepositoryDAO.java -text
src/src/java/modelos/RepositoryHibernateDAO.java -text
src/src/java/modelos/ResultadoConsulta.java -text
src/src/java/modelos/SubFederacao.java -text
src/src/java/modelos/SubFederacaoDAO.java -text
src/src/java/modelos/SubFederacaoHibernateDAO.java -text
src/src/java/modelos/SubNodo.java -text
src/src/java/modelos/Usuario.java -text
src/src/java/modelos/UsuarioDAO.java -text
src/src/java/modelos/UsuarioHibernateDAO.java -text
src/src/java/postgres/Conectar.java -text
src/src/java/postgres/Excluir.java -text
src/src/java/postgres/SingletonConfig.java -text
src/src/java/postgres/package.html -text
src/src/java/postgres/teste.java -text
src/src/java/robo/atualiza/Repositorios.java -text
src/src/java/robo/atualiza/SubFederacaoOAI.java -text
src/src/java/robo/atualiza/harvesterOAI/GetRecord.java -text
src/src/java/robo/atualiza/harvesterOAI/HarvesterVerb.java -text
src/src/java/robo/atualiza/harvesterOAI/Identify.java -text
src/src/java/robo/atualiza/harvesterOAI/ListIdentifiers.java -text
src/src/java/robo/atualiza/harvesterOAI/ListMetadataFormats.java -text
src/src/java/robo/atualiza/harvesterOAI/ListRecords.java -text
src/src/java/robo/atualiza/harvesterOAI/ListSets.java -text
src/src/java/robo/atualiza/harvesterOAI/Principal.java -text
src/src/java/robo/atualiza/harvesterOAI/package.html -text
src/src/java/robo/atualiza/importaOAI/DadosObjetos.java -text
src/src/java/robo/atualiza/importaOAI/Header.java -text
src/src/java/robo/atualiza/importaOAI/Importer.java -text
src/src/java/robo/atualiza/importaOAI/Indice.java -text
src/src/java/robo/atualiza/importaOAI/OAI_Interface.java -text
src/src/java/robo/atualiza/importaOAI/XMLtoDB.java -text
src/src/java/robo/atualiza/subfedOAI/Importer.java -text
src/src/java/robo/atualiza/subfedOAI/Objetos.java -text
src/src/java/robo/atualiza/subfedOAI/ParserListSets.java -text
src/src/java/robo/atualiza/subfedOAI/SubRepositorios.java -text
src/src/java/robo/main/Robo.java -text
src/src/java/robo/main/package.html -text
src/src/java/robo/util/Informacoes.java -text
src/src/java/robo/util/Operacoes.java -text
src/src/java/robo/util/package.html -text
src/src/java/spring/AdminController.java -text
src/src/java/spring/ApplicationContextProvider.java -text
src/src/java/spring/FEBController.java -text
src/src/java/spring/FederationsController.java -text
src/src/java/spring/RepositoriesController.java -text
src/src/java/spring/UsersController.java -text
src/src/java/spring/validador/BuscaValidator.java -text
src/src/java/spring/validador/InfoBDValidator.java -text
src/src/java/spring/validador/PadraoValidator.java -text
src/src/java/spring/validador/RepositorioValidator.java -text
src/src/java/spring/validador/SubFederacaoValidador.java -text
src/src/java/webservice/Webservice.java -text
src/src/main/resources/Documentos.hbm.xml -text
src/src/main/resources/Mapping.hbm.xml -text
src/src/main/resources/MetadataRecord.hbm.xml -text
src/src/main/resources/Objeto.hbm.xml -text
src/src/main/resources/Repositorio.hbm.xml -text
src/src/main/resources/RepositorioSubFed.hbm.xml -text
src/src/main/resources/SubFederacao.hbm.xml -text
src/src/main/resources/Usuario.hbm.xml -text
src/src/main/resources/applicationContext.xml -text
src/src/main/resources/autores.hbm.xml -text
src/src/main/resources/dummy.properties -text
src/src/main/resources/feb.properties -text
src/src/main/resources/hibernate.cfg.xml -text
src/src/main/resources/manifest.mf -text
src/src/main/resources/spring-security.xml -text
src/src/main/resources/testApplicationContext.xml -text
src/src/main/webapp/META-INF/context.xml -text
src/src/main/webapp/WEB-INF/jsp/pager-taglib.tld -text
src/src/main/webapp/WEB-INF/jsp/paginacaoPersonalizada.jsp -text
src/src/main/webapp/WEB-INF/log4j.xml -text
src/src/main/webapp/WEB-INF/main-servlet.xml -text
src/src/main/webapp/WEB-INF/web.xml -text
src/src/main/webapp/admin/adm.jsp -text
src/src/main/webapp/admin/alterarSenhaBD.jsp -text
src/src/main/webapp/admin/conexaoBD.jsp -text
src/src/main/webapp/admin/erroBase.jsp -text
src/src/main/webapp/admin/fechaRecarrega.jsp -text
src/src/main/webapp/admin/federations/confirmDelete.jsp -text
src/src/main/webapp/admin/federations/edit.jsp -text
src/src/main/webapp/admin/federations/new.jsp -text
src/src/main/webapp/admin/federations/show.jsp -text
src/src/main/webapp/admin/mapeamentos/addTipoMap.jsp -text
src/src/main/webapp/admin/mapeamentos/adicionaMapBranco.jsp -text
src/src/main/webapp/admin/mapeamentos/consultadescricao.jsp -text
src/src/main/webapp/admin/mapeamentos/deletaBaseAjax.jsp -text
src/src/main/webapp/admin/mapeamentos/editaMapeamentos.jsp -text
src/src/main/webapp/admin/mapeamentos/listaMapeamentoPadraoSelecionado.jsp -text
src/src/main/webapp/admin/mapeamentos/mapeamentos.jsp -text
src/src/main/webapp/admin/mapeamentos/removerMapeamento.jsp -text
src/src/main/webapp/admin/mapeamentos/respostaAjax.jsp -text
src/src/main/webapp/admin/mapeamentos/salvarBaseAjax.jsp -text
src/src/main/webapp/admin/mapeamentos/selecionaPadraoAddMap.jsp -text
src/src/main/webapp/admin/padraoMetadados/addPadrao.jsp -text
src/src/main/webapp/admin/padraoMetadados/editaPadrao.jsp -text
src/src/main/webapp/admin/padraoMetadados/padraoMetadados.jsp -text
src/src/main/webapp/admin/padraoMetadados/respostaAjaxPadrao.jsp -text
src/src/main/webapp/admin/recalcularIndice.jsp -text
src/src/main/webapp/admin/repositories/confirmDelete.jsp -text
src/src/main/webapp/admin/repositories/edit.jsp -text
src/src/main/webapp/admin/repositories/new.jsp -text
src/src/main/webapp/admin/repositories/show.jsp -text
src/src/main/webapp/admin/statistics.jsp -text
src/src/main/webapp/admin/testePaginacao.jsp -text
src/src/main/webapp/admin/users/confirmDelete.jsp -text
src/src/main/webapp/admin/users/form.jsp -text
src/src/main/webapp/admin/users/passwd.jsp -text
src/src/main/webapp/admin/users/show.jsp -text
src/src/main/webapp/cabecalho.jsp -text
src/src/main/webapp/consulta.jsp -text
src/src/main/webapp/css/jquery.jqplot.min.css -text
src/src/main/webapp/css/padrao.css -text
src/src/main/webapp/googleAnalytics -text
src/src/main/webapp/imagens/Lapiz-24x24.png -text
src/src/main/webapp/imagens/Lapiz-32x32.png -text
src/src/main/webapp/imagens/Logo[!!-~]FEB_reduzido.png -text
src/src/main/webapp/imagens/Logo[!!-~]FEB_reduzido_45x32.png -text
src/src/main/webapp/imagens/Logo_UFRGS.jpg -text
src/src/main/webapp/imagens/Thumbs.db -text
src/src/main/webapp/imagens/add-24x24.png -text
src/src/main/webapp/imagens/ajax-loader.gif -text
src/src/main/webapp/imagens/erro_sincronizar.png -text
src/src/main/webapp/imagens/favicon.ico -text
src/src/main/webapp/imagens/ferramenta_32x32.png -text
src/src/main/webapp/imagens/gerarRss.png -text
src/src/main/webapp/imagens/ico24_deletar.gif -text
src/src/main/webapp/imagens/ico24_salvar.gif -text
src/src/main/webapp/imagens/lupa.png -text
src/src/main/webapp/imagens/rnp_logo.jpg -text
src/src/main/webapp/imagens/rss_300x300.png -text
src/src/main/webapp/imagens/sincronizar.png -text
src/src/main/webapp/index.jsp -text
src/src/main/webapp/index2.jsp -text
src/src/main/webapp/infoDetalhada.jsp -text
src/src/main/webapp/login.jsp -text
src/src/main/webapp/main-servlet.xml -text
src/src/main/webapp/rss.jsp -text
src/src/main/webapp/scripts/funcoes.js -text
src/src/main/webapp/scripts/funcoesMapeamento.js -text
src/src/main/webapp/scripts/funcoesPadrao.js -text
src/src/main/webapp/scripts/jqplot.pieRenderer.min.js -text
src/src/main/webapp/scripts/jquery-1.7.2.js -text
src/src/main/webapp/scripts/jquery.jqplot.min.js -text
src/src/main/webapp/scripts/rss.js -text
src/src/main/webapp/scripts/validatejs.js -text
src/src/test/java/cognitivabrasil/obaa/OBAATest.java -text
src/src/test/java/cognitivabrasil/obaa/OaiOBAATest.java -text
src/src/test/java/ferramentaBusca/RecuperadorTest.java -text
src/src/test/java/metadata/DublinCoreTest.java -text
src/src/test/java/metadata/XsltConversorTest.java -text
src/src/test/java/metadata/XsltDC2ObaaTest.java -text
src/src/test/java/metadata/XsltLom2ObaaTest.java -text
src/src/test/java/metadata/XsltTest.java -text
src/src/test/java/metadata/cesta1.xml -text
src/src/test/java/metadata/cesta_complete.xml -text
src/src/test/java/metadata/conversor/ConversorTest.java -text
src/src/test/java/metadata/conversor/MockOne.java -text
src/src/test/java/metadata/conversor/MockTwo.java -text
src/src/test/java/metadata/conversor/RuleTest.java -text
src/src/test/java/metadata/lom1.xml -text
src/src/test/java/metadata/lume1.xml -text
src/src/test/java/metadata/missing.xml -text
src/src/test/java/metadata/oai_cannot_disseminate.xml -text
src/src/test/java/metadata/oai_dc.xml -text
src/src/test/java/metadata/oai_dc100.xml -text
src/src/test/java/metadata/oai_dc10000.xml -text
src/src/test/java/metadata/oai_error.xml -text
src/src/test/java/metadata/oai_lom.xml -text
src/src/test/java/metadata/oai_norecords.xml -text
src/src/test/java/metadata/oai_norecords2.xml -text
src/src/test/java/metadata/oai_obaa.xml -text
src/src/test/java/metadata/oai_subRepositorios.xml -text
src/src/test/java/metadata/obaa1.xml -text
src/src/test/java/metadata/teste1.xml -text
src/src/test/java/modelos/AbstractDaoTest.java -text
src/src/test/java/modelos/DocumentoTest.java -text
src/src/test/java/modelos/DocumentosHibernateDaoIT.java -text
src/src/test/java/modelos/MapeamentoHibernateDaoIT.java -text
src/src/test/java/modelos/PadraoMetadadosHibernateDaoIT.java -text
src/src/test/java/modelos/RepositorioTest.java -text
src/src/test/java/modelos/RepositoryHibernateDaoIT.java -text
src/src/test/java/modelos/StatisticsIT.java -text
src/src/test/java/modelos/SubFederacaoTest.java -text
src/src/test/java/modelos/SubfederacaoHibernateDaoIT.java -text
src/src/test/java/modelos/UsuarioHibernateDaoIT.java -text
src/src/test/java/modelos/UsuarioTest.java -text
src/src/test/java/robo/atualiza/importaOAI/ImporterTest.java -text
src/src/test/java/robo/atualiza/subfedOAI/ImporterTestIT.java -text
src/src/test/java/robo/atualiza/subfedOAI/SubRepositoriosTest.java -text
src/src/test/resources/documentosDataAfter.xml -text
src/src/test/resources/documentosDataBefore.xml -text
src/src/xslt/dc2obaa.xsl -text
src/src/xslt/dc2obaa_full.xsl -text
src/src/xslt/do.sh -text
src/src/xslt/lom2obaa_full.xsl -text
