* text=auto !eol
docs/README -text
docs/env_dev.txt -text
docs/env_exec.txt -text
docs/javadoc/allclasses-frame.html -text
docs/javadoc/allclasses-noframe.html -text
docs/javadoc/constant-values.html -text
docs/javadoc/deprecated-list.html -text
docs/javadoc/ferramentaBusca/Busca.html -text
docs/javadoc/ferramentaBusca/IndexadorBusca.html -text
docs/javadoc/ferramentaBusca/class-use/Busca.html -text
docs/javadoc/ferramentaBusca/class-use/IndexadorBusca.html -text
docs/javadoc/ferramentaBusca/indexador/Documento.html -text
docs/javadoc/ferramentaBusca/indexador/Indexador.html -text
docs/javadoc/ferramentaBusca/indexador/class-use/Documento.html -text
docs/javadoc/ferramentaBusca/indexador/class-use/Indexador.html -text
docs/javadoc/ferramentaBusca/indexador/package-frame.html -text
docs/javadoc/ferramentaBusca/indexador/package-summary.html -text
docs/javadoc/ferramentaBusca/indexador/package-tree.html -text
docs/javadoc/ferramentaBusca/indexador/package-use.html -text
docs/javadoc/ferramentaBusca/package-frame.html -text
docs/javadoc/ferramentaBusca/package-summary.html -text
docs/javadoc/ferramentaBusca/package-tree.html -text
docs/javadoc/ferramentaBusca/package-use.html -text
docs/javadoc/ferramentaBusca/recuperador/Recuperador.html -text
docs/javadoc/ferramentaBusca/recuperador/class-use/Recuperador.html -text
docs/javadoc/ferramentaBusca/recuperador/package-frame.html -text
docs/javadoc/ferramentaBusca/recuperador/package-summary.html -text
docs/javadoc/ferramentaBusca/recuperador/package-tree.html -text
docs/javadoc/ferramentaBusca/recuperador/package-use.html -text
docs/javadoc/help-doc.html -text
docs/javadoc/index-files/index-1.html -text
docs/javadoc/index-files/index-10.html -text
docs/javadoc/index-files/index-11.html -text
docs/javadoc/index-files/index-12.html -text
docs/javadoc/index-files/index-13.html -text
docs/javadoc/index-files/index-14.html -text
docs/javadoc/index-files/index-15.html -text
docs/javadoc/index-files/index-16.html -text
docs/javadoc/index-files/index-17.html -text
docs/javadoc/index-files/index-18.html -text
docs/javadoc/index-files/index-19.html -text
docs/javadoc/index-files/index-2.html -text
docs/javadoc/index-files/index-3.html -text
docs/javadoc/index-files/index-4.html -text
docs/javadoc/index-files/index-5.html -text
docs/javadoc/index-files/index-6.html -text
docs/javadoc/index-files/index-7.html -text
docs/javadoc/index-files/index-8.html -text
docs/javadoc/index-files/index-9.html -text
docs/javadoc/index.html -text
docs/javadoc/login/Usuario.html -text
docs/javadoc/login/class-use/Usuario.html -text
docs/javadoc/login/package-frame.html -text
docs/javadoc/login/package-summary.html -text
docs/javadoc/login/package-tree.html -text
docs/javadoc/login/package-use.html -text
docs/javadoc/mysql/AtualizaBase.html -text
docs/javadoc/mysql/Conectar.html -text
docs/javadoc/mysql/Configuracao.html -text
docs/javadoc/mysql/ConsultaNomeFederacao.html -text
docs/javadoc/mysql/Excluir.html -text
docs/javadoc/mysql/class-use/AtualizaBase.html -text
docs/javadoc/mysql/class-use/Conectar.html -text
docs/javadoc/mysql/class-use/Configuracao.html -text
docs/javadoc/mysql/class-use/ConsultaNomeFederacao.html -text
docs/javadoc/mysql/class-use/Excluir.html -text
docs/javadoc/mysql/package-frame.html -text
docs/javadoc/mysql/package-summary.html -text
docs/javadoc/mysql/package-tree.html -text
docs/javadoc/mysql/package-use.html -text
docs/javadoc/operacoesLdap/Consultar.html -text
docs/javadoc/operacoesLdap/Editar.html -text
docs/javadoc/operacoesLdap/Inserir.html -text
docs/javadoc/operacoesLdap/ReiniciarServico.html -text
docs/javadoc/operacoesLdap/Remover.html -text
docs/javadoc/operacoesLdap/class-use/Consultar.html -text
docs/javadoc/operacoesLdap/class-use/Editar.html -text
docs/javadoc/operacoesLdap/class-use/Inserir.html -text
docs/javadoc/operacoesLdap/class-use/ReiniciarServico.html -text
docs/javadoc/operacoesLdap/class-use/Remover.html -text
docs/javadoc/operacoesLdap/package-frame.html -text
docs/javadoc/operacoesLdap/package-summary.html -text
docs/javadoc/operacoesLdap/package-tree.html -text
docs/javadoc/operacoesLdap/package-use.html -text
docs/javadoc/overview-frame.html -text
docs/javadoc/overview-summary.html -text
docs/javadoc/overview-tree.html -text
docs/javadoc/package-list -text
docs/javadoc/resources/inherit.gif -text
docs/javadoc/robo/harvesterOAI/GetRecord.html -text
docs/javadoc/robo/harvesterOAI/HarvesterVerb.html -text
docs/javadoc/robo/harvesterOAI/Identify.html -text
docs/javadoc/robo/harvesterOAI/ListIdentifiers.html -text
docs/javadoc/robo/harvesterOAI/ListMetadataFormats.html -text
docs/javadoc/robo/harvesterOAI/ListRecords.html -text
docs/javadoc/robo/harvesterOAI/ListSets.html -text
docs/javadoc/robo/harvesterOAI/Principal.html -text
docs/javadoc/robo/harvesterOAI/class-use/GetRecord.html -text
docs/javadoc/robo/harvesterOAI/class-use/HarvesterVerb.html -text
docs/javadoc/robo/harvesterOAI/class-use/Identify.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListIdentifiers.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListMetadataFormats.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListRecords.html -text
docs/javadoc/robo/harvesterOAI/class-use/ListSets.html -text
docs/javadoc/robo/harvesterOAI/class-use/Principal.html -text
docs/javadoc/robo/harvesterOAI/package-frame.html -text
docs/javadoc/robo/harvesterOAI/package-summary.html -text
docs/javadoc/robo/harvesterOAI/package-tree.html -text
docs/javadoc/robo/harvesterOAI/package-use.html -text
docs/javadoc/robo/importaLDAP/AtualizaLDAP.html -text
docs/javadoc/robo/importaLDAP/Insere.html -text
docs/javadoc/robo/importaLDAP/class-use/AtualizaLDAP.html -text
docs/javadoc/robo/importaLDAP/class-use/Insere.html -text
docs/javadoc/robo/importaLDAP/package-frame.html -text
docs/javadoc/robo/importaLDAP/package-summary.html -text
docs/javadoc/robo/importaLDAP/package-tree.html -text
docs/javadoc/robo/importaLDAP/package-use.html -text
docs/javadoc/robo/importa_OAI_DC/Header.html -text
docs/javadoc/robo/importa_OAI_DC/InicioLeituraXML.html -text
docs/javadoc/robo/importa_OAI_DC/InsereLdap.html -text
docs/javadoc/robo/importa_OAI_DC/OAI_DC.html -text
docs/javadoc/robo/importa_OAI_DC/XmlSaxReader.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/Header.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/InicioLeituraXML.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/InsereLdap.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/OAI_DC.html -text
docs/javadoc/robo/importa_OAI_DC/class-use/XmlSaxReader.html -text
docs/javadoc/robo/importa_OAI_DC/package-frame.html -text
docs/javadoc/robo/importa_OAI_DC/package-summary.html -text
docs/javadoc/robo/importa_OAI_DC/package-tree.html -text
docs/javadoc/robo/importa_OAI_DC/package-use.html -text
docs/javadoc/robo/main/Robo.html -text
docs/javadoc/robo/main/Start.html -text
docs/javadoc/robo/main/Temporizador.html -text
docs/javadoc/robo/main/class-use/Robo.html -text
docs/javadoc/robo/main/class-use/Start.html -text
docs/javadoc/robo/main/class-use/Temporizador.html -text
docs/javadoc/robo/main/package-frame.html -text
docs/javadoc/robo/main/package-summary.html -text
docs/javadoc/robo/main/package-tree.html -text
docs/javadoc/robo/main/package-use.html -text
docs/javadoc/robo/util/Informacoes.html -text
docs/javadoc/robo/util/class-use/Informacoes.html -text
docs/javadoc/robo/util/package-frame.html -text
docs/javadoc/robo/util/package-summary.html -text
docs/javadoc/robo/util/package-tree.html -text
docs/javadoc/robo/util/package-use.html -text
docs/javadoc/serialized-form.html -text
docs/javadoc/stylesheet.css -text
docs/release_notes.txt -text
src/build.xml -text
src/config/sun-checks.xml -text
src/cucumber/README -text
src/cucumber/features/admin.feature -text
src/cucumber/features/hooks.rb -text
src/cucumber/features/repositorios.feature -text
src/cucumber/features/step_definitions/search_steps.rb -text
src/cucumber/features/support/env.rb -text
src/cucumber/vazio.c -text
src/cucumber/vazio.sh -text
src/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar -text
src/lib/PTStemmer_v3.jar -text
src/lib/com/jsptags/navigation/pager/COPYRIGHT -text
src/lib/com/jsptags/navigation/pager/FirstTag.class -text
src/lib/com/jsptags/navigation/pager/IndexTag.class -text
src/lib/com/jsptags/navigation/pager/IndexTagExtraInfo.class -text
src/lib/com/jsptags/navigation/pager/ItemTag.class -text
src/lib/com/jsptags/navigation/pager/JumpTagExtraInfo.class -text
src/lib/com/jsptags/navigation/pager/JumpTagSupport.class -text
src/lib/com/jsptags/navigation/pager/LastTag.class -text
src/lib/com/jsptags/navigation/pager/NextTag.class -text
src/lib/com/jsptags/navigation/pager/PageTag.class -text
src/lib/com/jsptags/navigation/pager/PageTagExtraInfo.class -text
src/lib/com/jsptags/navigation/pager/PageTagSupport.class -text
src/lib/com/jsptags/navigation/pager/PagerTag.class -text
src/lib/com/jsptags/navigation/pager/PagerTagExtraInfo.class -text
src/lib/com/jsptags/navigation/pager/PagerTagSupport.class -text
src/lib/com/jsptags/navigation/pager/PagesTag.class -text
src/lib/com/jsptags/navigation/pager/ParamTag.class -text
src/lib/com/jsptags/navigation/pager/PrevTag.class -text
src/lib/com/jsptags/navigation/pager/SkipTag.class -text
src/lib/com/jsptags/navigation/pager/SkipTagSupport.class -text
src/lib/com/jsptags/navigation/pager/parser/IndexTagExport.class -text
src/lib/com/jsptags/navigation/pager/parser/JavaCharStream.class -text
src/lib/com/jsptags/navigation/pager/parser/PageTagExport.class -text
src/lib/com/jsptags/navigation/pager/parser/PagerTagExport.class -text
src/lib/com/jsptags/navigation/pager/parser/ParseException.class -text
src/lib/com/jsptags/navigation/pager/parser/TagExportParser.class -text
src/lib/com/jsptags/navigation/pager/parser/TagExportParserConstants.class -text
src/lib/com/jsptags/navigation/pager/parser/TagExportParserTokenManager.class -text
src/lib/com/jsptags/navigation/pager/parser/Token.class -text
src/lib/com/jsptags/navigation/pager/parser/TokenMgrError.class -text
src/lib/junit/junit-3.8.2-api.zip -text
src/lib/junit/junit-3.8.2.jar -text
src/lib/junit_4/junit-4.5-api.zip -text
src/lib/junit_4/junit-4.5-src.jar -text
src/lib/junit_4/junit-4.5.jar -text
src/lib/nblibraries.properties -text
src/lib/pager-src.jar -text
src/lib/pager-taglib.jar -text
src/lib/postgresql-8.4-702.jdbc4.jar -text
src/lib/xalan.jar -text
src/pom.xml -text
src/src/conf/MANIFEST.MF -text
src/src/java/RSS/Rss.java -text
src/src/java/ferramentaBusca/IndexadorBusca.java -text
src/src/java/ferramentaBusca/Recuperador.java -text
src/src/java/ferramentaBusca/indexador/Documento.java -text
src/src/java/ferramentaBusca/indexador/Indexador.java -text
src/src/java/ferramentaBusca/indexador/StopWordTAD.java -text
src/src/java/ferramentaBusca/indexador/package.html -text
src/src/java/ferramentaBusca/package.html -text
src/src/java/ferramentaBusca/recuperador/Recuperador.java -text
src/src/java/ferramentaBusca/recuperador/package.html -text
src/src/java/login/Usuario.java -text
src/src/java/login/package.html -text
src/src/java/metadata/DublinCore.java -text
src/src/java/metadata/conversor/Conversor.java -text
src/src/java/metadata/conversor/Rule.java -text
src/src/java/metadata/conversor/package-info.java -text
src/src/java/operacoesPostgre/Consultar.java -text
src/src/java/operacoesPostgre/Editar.java -text
src/src/java/operacoesPostgre/Remover.java -text
src/src/java/operacoesPostgre/package.html -text
src/src/java/postgres/AtualizaBase.java -text
src/src/java/postgres/AtualizacaoRepositorio.java -text
src/src/java/postgres/Conectar.java -text
src/src/java/postgres/Configuracao.java -text
src/src/java/postgres/DadosBaseLocal.java -text
src/src/java/postgres/DadosTeste.java -text
src/src/java/postgres/Excluir.java -text
src/src/java/postgres/febPropriedades.xml -text
src/src/java/postgres/package.html -text
src/src/java/postgres/teste.java -text
src/src/java/robo/atualiza/Repositorios.java -text
src/src/java/robo/atualiza/SubFederacao.java -text
src/src/java/robo/atualiza/harvesterOAI/GetRecord.java -text
src/src/java/robo/atualiza/harvesterOAI/HarvesterVerb.java -text
src/src/java/robo/atualiza/harvesterOAI/Identify.java -text
src/src/java/robo/atualiza/harvesterOAI/ListIdentifiers.java -text
src/src/java/robo/atualiza/harvesterOAI/ListMetadataFormats.java -text
src/src/java/robo/atualiza/harvesterOAI/ListRecords.java -text
src/src/java/robo/atualiza/harvesterOAI/ListSets.java -text
src/src/java/robo/atualiza/harvesterOAI/Principal.java -text
src/src/java/robo/atualiza/harvesterOAI/package.html -text
src/src/java/robo/atualiza/importa_OAI/DadosObjetos.java -text
src/src/java/robo/atualiza/importa_OAI/Header.java -text
src/src/java/robo/atualiza/importa_OAI/Indice.java -text
src/src/java/robo/atualiza/importa_OAI/InicioLeituraXML.java -text
src/src/java/robo/atualiza/importa_OAI/InsereObjetoBase.java -text
src/src/java/robo/atualiza/importa_OAI/OAI_Interface.java -text
src/src/java/robo/atualiza/importa_OAI/XmlSaxReader.java -text
src/src/java/robo/main/Robo.java -text
src/src/java/robo/main/Start.java -text
src/src/java/robo/main/Temporizador.java -text
src/src/java/robo/main/package.html -text
src/src/java/robo/util/Informacoes.java -text
src/src/java/robo/util/Operacoes.java -text
src/src/java/robo/util/package.html -text
src/src/test/java/metadata/DublinCoreTest.java -text
src/src/test/java/metadata/conversor/ConversorTest.java -text
src/src/test/java/metadata/conversor/MockOne.java -text
src/src/test/java/metadata/conversor/MockTwo.java -text
src/src/test/java/metadata/conversor/RuleTest.java -text
src/src/test/java/metadata/teste1.xml -text
src/web/META-INF/context.xml -text
src/web/WEB-INF/jsp/pager-taglib.tld -text
src/web/WEB-INF/jsp/paginacaoPersonalizada.jsp -text
src/web/WEB-INF/web.xml -text
src/web/adm.jsp -text
src/web/alterarSenha.jsp -text
src/web/atualizaRepAjax.jsp -text
src/web/cadastraFederacao.jsp -text
src/web/cadastraRepositorio.jsp -text
src/web/conexaoBD.jsp -text
src/web/consulta.jsp -text
src/web/css/padrao.css -text
src/web/editarFederacao.jsp -text
src/web/editarRepositorio.jsp -text
src/web/erroBase.html -text
src/web/exibeFederacao.jsp -text
src/web/exibeRepositorios.jsp -text
src/web/googleAnalytics -text
src/web/gravaRepositorioBase.jsp -text
src/web/imagens/Lapiz-24x24.png -text
src/web/imagens/Lapiz-32x32.png -text
src/web/imagens/Logo[!!-~]FEB_reduzido.jpg -text
src/web/imagens/Logo[!!-~]FEB_reduzido.png -text
src/web/imagens/Logo[!!-~]FEB_reduzido_45x32.png -text
src/web/imagens/Logo_UFRGS.jpg -text
src/web/imagens/Thumbs.db -text
src/web/imagens/add-24x24.png -text
src/web/imagens/erro_sincronizar.png -text
src/web/imagens/favicon.ico -text
src/web/imagens/ferramenta_128x128.png -text
src/web/imagens/ferramenta_32x32.png -text
src/web/imagens/gerarRss.png -text
src/web/imagens/ico24_deletar.gif -text
src/web/imagens/ico24_salvar.gif -text
src/web/imagens/lupa.png -text
src/web/imagens/rnp_logo.jpg -text
src/web/imagens/rss_300x300.png -text
src/web/imagens/sincronizar.png -text
src/web/index.jsp -text
src/web/index2.jsp -text
src/web/infoDetalhada.jsp -text
src/web/listaStowords.jsp -text
src/web/logando.jsp -text
src/web/login.html -text
src/web/mapeamentos/APAGAR-addMapeamento.jsp -text
src/web/mapeamentos/addTipoMap.jsp -text
src/web/mapeamentos/adicionaMapBranco.jsp -text
src/web/mapeamentos/consultadescricao.jsp -text
src/web/mapeamentos/deletaBaseAjax.jsp -text
src/web/mapeamentos/editaMapeamentos.jsp -text
src/web/mapeamentos/funcoesMapeamento.js -text
src/web/mapeamentos/listaMapeamentoPadraoSelecionado.jsp -text
src/web/mapeamentos/mapeamentos.jsp -text
src/web/mapeamentos/removerMapeamento.jsp -text
src/web/mapeamentos/respostaAjax.jsp -text
src/web/mapeamentos/salvarBaseAjax.jsp -text
src/web/mapeamentos/selecionaPadraoAddMap.jsp -text
src/web/padraoMetadados/addPadrao.jsp -text
src/web/padraoMetadados/editaPadrao.jsp -text
src/web/padraoMetadados/funcoesPadrao.js -text
src/web/padraoMetadados/padraoMetadados.jsp -text
src/web/padraoMetadados/respostaAjaxPadrao.jsp -text
src/web/paginacao.jsp -text
src/web/recalcularIndice.jsp -text
src/web/removerFederacao.jsp -text
src/web/removerRepositorio.jsp -text
src/web/rss.jsp -text
src/web/sair.jsp -text
src/web/scripts/funcoes.js -text
src/web/scripts/validatejs.js -text
src/web/testaSessao.jsp -text
src/web/testaSessaoNovaJanela.jsp -text
src/web/testePaginacao.jsp -text
