ln -s src feb-${feb.version}
tar -cvzf feb_${feb.version}.orig.tar.gz feb-${feb.version}/* feb-${feb.version}/.project
cd feb-${feb.version}
dpkg-buildpackage

# 
rm ../feb_${feb.version}.orig.tar.gz 
