<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>INROA - Capes</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/main.css" rel="stylesheet">
        <link href="css/result.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="vendor/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!--<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
            <ul id="menu-barra-temp" style="list-style:none;">
                <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
                    <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a>
                </li> 

                <li>
                    <a style="font-family:sans,sans-serif; text-decoration:none; color:white;" 
                       href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a>
                </li>
            </ul>
        </div>
        <!-- /#barra-brasil -->

        <div class="container text-center">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <a href="index.html">
                            <img id="logo" src="imagens/logo.png" alt=""/>
                        </a>
                    </div>
                    <!--/.intro-message-->
                </div>
                <!--/.col-lg-12-->
            </div>
            <!--/.row-->
            <div id="preResult" class="row relative">

                <div class="col-lg-3">
                    <a href="index.html">
                        <button class="btn btn-lg btn-success" type="submit">Efetuar nova consulta</button>
                    </a>
                </div>
                <!--/.col-lg-3-->
                <div class="col-lg-9 text-right vbottom">
                    <button id="rssBtn" class="btn btn-xs btn-success"><i class="fa fa-rss"></i></button>
                    <span class="text"> 
                        Consulta efetuada: <strong>"polinômios"</strong> / Total de <strong>134</strong> objetos 
                    </span>
                </div>
                <!--/.col-lg-9-->
            </div>
            <!--/#preResult .row-->

            <div class="row">
                <div id="result" class="shadow">
                    <div class="resultadoConsulta">
                        <div class="titulo"> <a> Um estudo sobre polinômios e sua abordagem no ensino</a></div>
                        <div class="atributo">
                            Este trabalho tem como o objetivo de estudar Polinômios além do que foi estudado na Graduação, fazer um breve estudo de como se está ensinando Polinômios de acordo com alguns livros didáticos e, principalmente, propor algumas atividades que contribuam para o trabalho dos professores, despertando assim o interesse dos alunos pelo estudo da Algebra.
                            TCC (graduação) - Universidade Federal de Santa Catarina, Centro de Ciências Físicas e Matemáticas, Curso de Matemática.
                        </div>

                        <div class="atributo">
                            Localização: 
                            <br />
                            <a href="http://repositorio.ufsc.br/xmlui/handle/123456789/94973">
                                http://repositorio.ufsc.br/xmlui/handle/123456789/94973
                            </a>
                        </div>

                        <div class="atributo">
                            Repositório: Subfederação UFSC / Repositório UFSC
                        </div>
                    </div>
                    <!--/.resultadoConsulta-->

                    <div class="resultadoConsulta">
                        <div class="titulo"> <a> Um estudo sobre polinômios e sua abordagem no ensino</a></div>
                        <div class="atributo">
                            Este trabalho tem como o objetivo de estudar Polinômios além do que foi estudado na Graduação, fazer um breve estudo de como se está ensinando Polinômios de acordo com alguns livros didáticos e, principalmente, propor algumas atividades que contribuam para o trabalho dos professores, despertando assim o interesse dos alunos pelo estudo da Algebra.
                            TCC (graduação) - Universidade Federal de Santa Catarina, Centro de Ciências Físicas e Matemáticas, Curso de Matemática.
                        </div>

                        <div class="atributo">
                            Localização: 
                            <a href="http://repositorio.ufsc.br/xmlui/handle/123456789/94973">http://repositorio.ufsc.br/xmlui/handle/123456789/94973</a>
                        </div>

                        <div class="atributo">
                            Repositório: Subfederação UFSC / Repositório UFSC
                        </div>
                    </div>
                    <!--/.resultadoConsulta-->
                </div>
                <!--/#result-->
            </div>
            <!--/.row-->

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="http://feb.ufrgs.br">Página antiga do projeto</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="http://www.rnp.br/pesquisa-e-desenvolvimento/grupos-trabalho">GTs RNP</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery Version 1.11.0 -->
        <script src="scripts/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="scripts/bootstrap.min.js"></script>

        <!-- Barra do Governo Federal -->
        <script defer="defer" async="async" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
    </body>

</html>
