/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/10/2014, 15:14:23
    Author     : preto
*/

.textWhite {
    color: whitesmoke;
    font-weight: 300;
    font-size: 25px;
    padding-top: 0 !important;
}

.locais {
    background-color: white;
    margin: 0;
    border-radius: 4px;
    color: #555;
    border: 1px solid #CCCCCC;
}

#submitButton{
    margin: 8px 0px;
}

.miniTitulo{
    color: #0480be;
}

#tree_federations{
    margin-bottom: 10px;
}
/*copiado do FEB:
buscaAvancada.css
*/
.checkboxList span{display: block;width: 100%; position: relative; margin: 5px 0 0 21px;}

/*Se estiver em dispositivo com tela pequena, diminui a fonte das árvores de repositorio e federações*/
@media (max-width: 768px){
    .jstree-default-responsive .jstree-anchor {
        font-weight: 400;
        font-size: 0.9em;
    }
    .jstree-default-responsive .jstree-anchor label{font-weight: 400}
    #tree_federations.jstree-default-responsive .jstree-anchor label{font-size: 0.7em}
}

/*Solução para enquadrar o rodapé de acordo com o conteúdo da busca avança, se mudar o conteúdo, tem que mudar aqui*/
/*footer alterado para fixo em todas as páginas analisar se vai continuar assim*/
/*@media (min-height: 590px) and (min-width: 992px){
    .footer {
        position: absolute;
        bottom: 0;
    }
}

@media (min-height: 730px) and (min-width: 374px){
    .footer {
        position: absolute;
        bottom: 0;
    }
}

.footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 3px;
}*/
