html{height: 100%}
.footer a {
    color: #606060 !important;
    font-weight: 700;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    background-color: #f1f1f1;
    padding: 3px;
}