/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/10/2014, 15:14:23
    Author     : preto
*/
body {
    font-family: "Open Sans";
}
.textWhite {
    color: whitesmoke;
    font-weight: 300;
    font-size: 25px;
}

.field{
    margin-bottom: 15px;
}

.locais {
    background-color: white;
    margin: 0;
    border-radius: 4px;
    color: #555;
    border: 1px solid #CCCCCC;
}

#submitButton{
    margin: 8px 0px;
}

.miniTitulo{
    color: #0480be;
}


/*copiado do FEB:
buscaAvancada.css
*/
.checkboxList span{display: block;width: 100%; position: relative; margin: 5px 0 0 21px;}