html { 
    height: 100%; /* forces page height to equal inner window height. */
    background: -webkit-radial-gradient(#008cd1, #00589f); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#008cd1, #00589f); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#008cd1, #00589f); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#008cd1, #00589f); /* Standard syntax */
    position: relative;
    min-height: 100%;  
}

body { 
    background: url(./images/hex.png) repeat-x;
    min-height: 100%;
    font-family: 'Open Sans';
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
}

#logo{    
    margin-bottom: 20px;
}

.shadow {
    -webkit-box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 40px 40px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 40px 40px rgba(0, 0, 0, 0.2);
}

.searchBox input,.searchBox button{
    font-size: 20px;
    height: 45px;
}

#barra-brasil {
    margin-bottom: 20px;    
}

#barra-brasil *{min-height: 100%}

.lnkInTheHex {
    float: right;
    margin-top: 10px;
    color: #a6e1ec;
    font-size: 18px;
}

#lnkAvancada{
    margin-right: 120px;
}

/*telas grandes*/
@media (min-width: 1200px){
    .container {
        width: 1100px;
    }

    /*configurar corretamente para funcionar com o bootstrap!!*/
    .vbottom {
        position: absolute;
        bottom: 0;
        right: 0;

    }

    /*configurar corretamente para funcionar com o bootstrap!!*/
    .relative {
        position:relative;
    }
}