/*
Document   : padrao
Created on : 08/07/2009, 13:38:18
Author     : Marcos
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

input[type=text]:focus,input[type=password]:focus,select:focus{background-color:#D7EBFF;font-weight:bold;}

body
{
    font-family: Tahoma,verdana, arial, sans;
    font-size: 80%;
    text-decoration: none;
    color: #000000;

}

#bodyMenor{
    margin-top: 1%;
    width: 735px;
    margin-left: auto;
    margin-right: auto;

}

#bodyLetraMaior{
    font-size:84%;
}

a{
    font-weight:inherit;
    color:#0066CC;
    cursor:pointer;
}

a:visited{
    color:#0066CC;
}
a:hover{
    text-decoration:underline;
}
img{
    vertical-align:middle;
    border: none;
}
#page
{
    padding: 10px;
    border: 2px solid #AEC9E3;
    background-color:white;
}
#page-index
{
    padding: 10px;
    background-color:white;
}

#body
{

    border: 2px solid #AEC9E3;
    background-color:white;
    padding:0.1%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

#page-header
{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    vertical-align:middle;
    border-bottom: 2px solid #AEC9E3;
    margin-bottom: 0.1%;

}
#page-sub-header
{
    font-weight: bold;
    text-align: left;
    padding:0.8%;
    vertical-align:middle;
    margin-bottom: 0.1%;

}
.cabecalhoConsulta{
    background-color:#AEC9E3;
    padding:0.9%;
    margin-bottom:0.1%;
    font-size:105%;

}
.cabecalhoConsulta .esquerda{
    float:left;
    text-align:right;

}
.cabecalhoConsulta .direita{
    text-align:right;
    padding-right:1%;
}
.rodapeConsulta{
    margin-top:0.1%;
    background-color:#AEC9E3;
}

.resultadoConsulta{

    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin-bottom:3%;
}
.resultadoConsulta .titulo{
    font-weight:bold;
    font-size:105%;
    margin-bottom:1%;
}
.resultadoConsulta .atributo{
    padding-left:1%;
    padding-top:0.2%;
}
.resultadoConsulta .atributo .valor{
    padding-left:2%;
}

#page-footer
{
    font-size: 11px;
    text-align: center;
    vertical-align:middle;
    border: 1px solid black;
    margin: 5px;
    background: #FFFFFF;
    opacity: 0.8;
}
#page-body
{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #585858;
    margin: 5px;
    background: #FFFFFF;
    opacity: 0.8;
}
#page-unic-body
{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #585858;
    background: #FCFCFC;
    opacity: 0.8;
}
#body-resultado
{
    vertical-align: middle;

    border: 2px solid #AEC9E3;
    margin: 0px;
    background: #FFFFFF;
    opacity: 0.9;
    padding-top:1%;
    padding-bottom:1%;

}

#body-resultado-interno
{

    vertical-align: middle;
    padding: 0px;
    text-align:left;
    border: solid #AEC9E3;
    border-left:0px;
    border-right:0px;
    margin: 0px;
    background: #FFFFFF;
    opacity: 0.9;
    padding-top:3em;
    margin-bottom:1%;
    margin-top:1%;
    padding-left:4%;
}

.initial-table
{
    width: 95%;
    padding: 5px;
}

#paginaAdministrativa caption
{
    font-size: 123%;
    color: black;
    font-weight: bold;
}

#estatisticas .caixaAzul
{
    width: 1000px;
    border: 3px #AEC9E3 solid;
    padding: 10px;
    margin: 10px auto;
}

#estatisticas table td{text-align: center;}
#estatisticas table td:first-child{text-align: left;}

.estatisticasTitulo
{
    text-align:center;
    font-size: 110%;
    color: black;
    font-weight: bold;
    padding: 2px;
}
.zebraEven
{
    background-color:#D7EBFF;
}

.barra-escura{
    background-color:#AEC9E3;
}

.subheader-text
{
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    background-color: #AEC9E3;
}

.subTitulo-center
{
    font-size: 120%;
    text-align:center;
    font-weight: bold;
    padding-left: 10px;
    background-color: #AEC9E3;
    padding:5px;
    margin-bottom:15px;
    font-family:arial, sans-serif;
}
.subTituloBusca
{
    font-size: 120%;
    text-align:center;
    font-weight: bold;
    padding-left: 10px;
    background-color: #414042;
    color:white;
    font-family:"Zurich Ex BT", "arial", "sans-serif";
    padding:5px;
    margin-bottom:15px;
}
.subTitulo-left
{
    font-size: 120%;
    text-align:left;
    font-weight: bold;
    padding-left: 10px;
    background-color: #AEC9E3;
    padding:5px;
    margin-bottom:15px;
    font-family:Arial;
}

.subtitle
{
    font-size: 110%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    padding-left:5%;
    padding-bottom:4%;
    padding-top:1%;
}
.subtitulo{
    font-size: 110%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    background-color:#D7EBFF;
    padding-left:5%;
    padding-bottom:0.6%;
    padding-top:0.6%;
    margin-bottom: 1%;

}
.editar{
    text-align:right;
    padding-right:5%;
    font-size:105%;
    font-weight:bold;

}

.editar a{
    text-decoration:underline;

}

a:hover{
    text-decoration:underline;    
}

.sair{
    text-align: right;
    font-weight: bold;
    margin-bottom: 1%;
}
.cabecalhoAdm a{
    text-decoration:underline;
}

.Mapeamento{
    margin-top:1%;
}

.Mapeamento .TextoInformativo{
    text-align:left;
    padding-bottom:3%;
    padding-left:5%;
}
.Mapeamento .TextoInformativo p{
    padding-left:5%;
}

.Mapeamento .Legenda{
    float:left;
    text-align:right;
    width:24%
}
.Mapeamento .Valor{
    margin:0 0 20px 26%;
}
.Mapeamento .Editar{
    float:right;
    text-align:left;
    margin-right:2%;
}
.Mapeamento .Buttons{
    margin:0 0 10px 0%;
    padding-top:2%;
    text-align:center;
}
.Mapeamento .Buttons input{
    background-color: #AEC9E3;
    border-color: #AAAAAA;
    color: #000000;
    font-weight: bold;
    font-family: verdana;
}
.Mapeamento .ValueErro{

    color:red;
    font-weight:bold;
}

.LinhaEntrada .Tab{
    padding-left:5%;
}
.LinhaEntrada .Tab .info{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: red;
    font-weight: bold;
}
.LinhaEntrada .Comentario{
    margin:0 0 5px 42%;
    font-size: 80%;
    color: #585858;
}
.LinhaEntrada .Label{
    float:left;
    text-align:right;
    width:40%;
}
.LinhaEntrada .LabelLeft{
    float:left;
    text-align:left;
    width:40%;
}

.LinhaEntrada .Value{
    margin:0 5px 15px 41%;
}

.LinhaEntrada .Value linha{
    padding:0;
    border: 1px solid #000000;
    clear: both;

}

.LinhaEntrada .Value .coluna{
    height:25px;
    width:120px;
    float:left;
}
.LinhaEntrada .Value .bordaVerde{
    border: 2px solid #09c812;
}
.LinhaEntrada .Value .bordaVermelha{
    border: 2px solid red;
}

.LinhaEntrada .ValueIndex{
    margin:0 0 5px 41%;
}
.LinhaEntrada .ValueTree{
    margin:0 0 5px 41%;
    text-align: left;
}
.LinhaEntrada .ValueTree .Interno{
    margin:0 0 3px 6%;
}
.LinhaEntrada .ValueErro{
    margin:0 0 20px 41%;
    color:red;
    font-weight:bold;
}

.LinhaEntrada .alerta {
    border:0px solid gray;
    color: red;
    margin:0 0 10px 41%;
}

.LinhaEntrada .btConsultar{
    margin:0 0 5% 0;
    text-align:center;
}

.LinhaEntrada .Buttons{
    margin:0 0 10px 0%;
    padding-top:2%;
    text-align:center;
}
.LinhaEntrada .Buttons input{
    background-color: #AEC9E3;
    border-color: #AAAAAA;
    color: #000000;
    font-weight: bold;
    font-family: verdana;
}
.LinhaEntrada .Buttons input:disabled{
    background-color: #dedede;
    color: #575757;
}
.LinhaEntrada .OptionButtons{
    margin:0 0 10px 25px;
}
.LinhaEntrada .EspacoAntes{
    padding-top:5px;
}

.LinhaEntrada .EspacoEntre{
    padding-top:5px;
    padding-bottom:5px;
}

.LinhaEntrada .Value input,.LinhaEntrada .Value select {width:50%; border-color: #006699}
.LinhaEntrada .Value .disabled{
    background-color: #D7EBFF;
    border: 0px;
    color: black;
    text-align: center;
}

.EspacoPequeno{
    padding-top:1px;
    font-size:0;
}
.Espaco{
    padding-top:5px;

}
.textoErro{
    color:red;
    font-weight: bold;
}
.TextoDivAlerta{
    color:#EE2037;
    font-size:100%;
    font-family:Verdana, Arial;
    margin:0 0 15px 5%;
}

.DivErro{
    color: red;
    font-size:100%;
    font-family:Verdana, Arial;
    margin:15px 0 15px 0;
    border: 1px solid #EE2037;
    background-color: #fedada;
    text-align: center;
    padding: 1%;
    clear: both;
}

h1, h2, h3, h4, h5, h6{margin:0px 0px 5px;font-weight:normal;line-height:110%;}

h1, h2{
    font-size:161.7%;
}


table{
    border-collapse:collapse;
}
td{vertical-align:top;}

.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.bold{font-weight:bold;}
.ValignTop{vertical-align:top;}
.middle{vertical-align:middle;}

.repositorios-table
{
    width: 100%;
    padding: 2px;
    border: 2px solid #AEC9E3;
    margin-top:2%;
}
.repositorios-table th{
    color: white;
}
.repositorios-table td{
    vertical-align: middle;
}

.col2
{
    width: 25%;
}

.mapeamentos-table
{
    width: 100%;
    padding: 2px;
    border: 0px solid #AEC9E3;
    margin-top:3%;

}
.mapeamentos-table th{
    color: white;
    font-weight:bold;
    font-size:105%;


}
.mapeamentos-table td{
    vertical-align: middle;
    text-align:center;
}
.mapeamentos-table-add{
    padding-left:50%;
    border: 0px;
    margin-left:5%;
    font-size:105%;
}
.price-yes
{
    text-align: center;
    background-color: #D7EBFF;
}

.price-no
{
    text-align: center;
}

.nova-linha
{
    text-align: center;
    background-color: #006699;
}

#infoIcones
{
    font-size: 150%;
    font-family: Arial;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #AEC9E3;
    margin-top: 2%;
    background: #FFFFFF;
    opacity: 0.8;
    padding: 2px;
    margin-left: 0;
    margin-right: 0;
}
#infoIcones td {vertical-align:middle;color: black;font-size: 85%;}
.BOTAO
{
    background-color: #AEC9E3;
    border-color: #AAAAAA;
    color: #000000;
    font-weight: bold;
    font-family: verdana;
}
.BotaoMapeamento
{
    background-color: transparent;
    border-color: #AAAAAA;
    color: #000000;
    font-weight: bold;
    font-family: verdana;
    font-size:80%;
}

.botaoEditar {
    background-color: transparent;
    background-image:url(images/Lapiz-24x24.png);
    height: 24px;
    width: 24px;
    border:0px;
    cursor:pointer;
}
.botaoExcluir {
    background-color: transparent;
    background-image:url(images/ico24_deletar.gif);
    height: 21px;
    width: 22px;
    border:0px;
    cursor:pointer;
}
.botaoAdicionar {
    background-color: transparent;
    background-image:url(images/add-24x24.png);
    height: 24px;
    width: 24px;
    border:0px;
    cursor:pointer;
}
.botaoLupa {
    background-color: transparent;
    background-image:url(images/lupa-26x24.png);
    height: 24px;
    width: 26px;
    border:0px;
    cursor:pointer;
    vertical-align: middle;
}
.BotaoFechar{
    text-align:center;
    margin-top:2%;
}
.BotaoFechar .color{
    background-color: #AEC9E3;
    font-weight:bold;
}

.inputSelecionado{
    background-color:#D7EBFF;
    font-weight:bold;
}
.inputVerde{
    background-color:green;
}

.cabecalhoBusca{
    vertical-align:middle;
}
.clear { clear: both; }
.logoBusca{
    text-align:center;
    background-color:#35a0f2;
    border-color: white;
}
.logoBusca .logo{
    width: 11%;
}
.logoBusca a{
    text-decoration:none;
    color:white;
}

.linkCantoEsquerdo{
    float:left;
    text-align:left;
    padding-left:2%;
    font-size:100%;
    font-weight:bold;
    vertical-align:middle;
}

.linkCantoEsquerdo a{
    text-decoration:none;
}
.linkCantoEsquerdo a:hover{
    font-size:102%;
    text-decoration:none;
}

.linkCantoDireito{
    float:right;
    text-align:right;
    padding-right:2%;
    font-size:100%;
    font-weight:bold;
    vertical-align:middle;
}

.linkCantoDireito a{
    text-decoration:underline;
}
.linkCantoDireito a:hover{
    font-size:102%;
    text-decoration:none;
}

/* parte da Info detalhada*/
.tituloPrincipal{
    margin-bottom:2%;
    background-color:#AEC9E3;
}
.tituloPrincipal .tituloObj{
    font-size:135%;
    margin-left:5%;
    font-weight:bold;
}

.tituloPrincipal .identificadorObj{
    margin-left:7%;
    color:#32618F;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:bold;
    font-size: 80%;
}


.linkRSS{
    font-weight:inherit;
    color:black;
    cursor:pointer;
}
.linkRSS:hover{
    font-weight:inherit;
    color:black;
    cursor:pointer;
    text-decoration:none;
    font-size:102%;
}
.linkRSS:visited{
    color:black;
}

.hidden {
    display: none;
}

.linkRepSubfeb{
    text-decoration: none;
}
.linkRepSubfeb:hover{
    text-decoration: none;
    font-size:100%;

}
.linkRepSubfeb:visited{
    text-decoration: none;

}

.copyRight{
    font-size: 80%;
    text-align: right;
    color: #585858;
    vertical-align: middle;
    float:right;
    margin-right: 1%;
    margin-top: 0.5%;
}
.rss{
    margin-top: 2px;
    margin-right: 2px;
    text-align: right;
}

.socialBookmarks {
    float: right;
    margin-top: 1px;
    margin-right: 30px;
    margin-bottom: 15px;
}
.socialBookmark {
    float: right;
}

.tableSubfed{
    border-color: red;

}
.tableSubfed th{
    background-color: #AEC9E3;
    color: #fffffe; 
    font-size: 105%;
}

.tableSubfed table{
    text-align: center;
}

.tableSubfed td {
    border: 2px solid #FFFFFF;
}

.versao{
    text-align: right;
    padding-top: 0.5%;
    padding-right: 0.5%;
    font-style: italic;
}
.mensagemAdm{
    float:left;
    text-align: center;
    padding-top: 0.5%;
    padding-left: 40%;
    color: red;
}

.mensagemSucesso{
    text-align: center;
    color: red;
}

/*CSS feito para subtituir o LinhaEntrada. O texto fica mais a esquerda e o LinhaEntrada mais no meio da tela*/

.LinhaForm .Legenda{
    float:left;
    text-align:right;
    width:24%;
}
.LinhaForm .ErroValidador{
    margin:0 0 10px 26%;
    color:red;
    font-weight:bold;
}
.LinhaForm .Valor{
    margin:0 0 20px 26%;
}
.LinhaForm .EspacoAntes{
    padding-top:5px;
}
.LinhaForm .Buttons{
    margin:0 0 10px 0%;
    padding-top:2%;
    text-align:center;
}
.LinhaForm .Editar{
    float:right;
    text-align:left;
    margin-right:2%;
}
/*fim CSS feito para subtituir o LinhaEntrada. */

.ApagaObjetos{
    margin-top: 2%;
    text-align: center;
}
.ApagaObjetos input{
    background-color: #EE2037;
    border-color: white;
    color: white;
    font-weight: bold;
    width:auto;
    font-size: 90%;
}

.metadados {
    margin-left: 1%;
}
.metadados .subnivel{
    margin-left: 2%;
    margin-top: 1%;
}
.metadados .subnivel .titulo{
    font-size:120%;
    text-decoration:underline;
}

.metadados .subnivel .atributo{
    clear: both;
    margin-top: 0.5%;
}
.metadados .subnivel .atributo .nome{
    float: left;
    text-align:left;
    margin-left:3%;
    font-weight: bold; 
    margin-right: 1%;
}
.metadados .subnivel .atributo .valor{
    margin:0% 0% 1% 12%;
}

.margin-top{margin-top: 2%;}

.sucesso{color: #007a00; font-weight: bold}
.infoDetalhada {margin-bottom: 2%;}
.infoDetalhada .title{text-decoration: underline; font-size:120%;}
.infoDetalhada li{
    margin-top: 1%;
    clear: both;
}
.infoDetalhada ul{background-color: #f1f1f1; list-style-type: none;}
.infoDetalhada strong{margin-right: 1%;}
.infoDetalhada .nome{
    float: left;
    text-align:left;
    font-weight: bold;
    margin-right: 1%;
}
.infoDetalhada .valor{
    margin:0% 0% 1% 12%;
}
#tagcloud{
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#index{
    margin-top: 5%;
    text-align: center;
}
#index .logo{
    width: 10%;
}
#index .logoBusca a{
    text-decoration:none;
    color:white;
}
#index input[type=text]{border-color: #006699}
.busca{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1%;
}
.busca input[type=text]{width:50%;}
.busca .ValueErro{
    color:red;
    font-weight:bold;
}

.barra-superior
{
    font-size: 100%;
    text-align:left;
    font-weight: bold;
    padding-left: 10px;
    background-color: #006699;
    color:white;
    font-family:"Zurich Ex BT", "arial", "sans-serif";
    padding: 0.5%;
}
.barra-superior span{margin-left: 1%;}
.barra-superior span a{color:white; text-decoration: none;}
.barra-superior span a:hover{color:#b1b1b1;text-decoration:none; font-size:100%;}

#buscaAvancada{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-left: 1%;
    width: 50%;
    border: 2px solid #AEC9E3;
    color: #414042;
    text-align: left;
}
#buscaAvancada input[type=text]{width:98%;}

/*Usado no form do mapeamento*/
.formLeft{margin-left: 6%; text-align: left;}
.formLeft .Label{float:left; width:20%;}
.formLeft .Value{margin:0 0 1.5% 10%;}
.formLeft .Value input, select{width:30%; border-color: #006699}

.xmlTitle{
    font-size: 110%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.CodeMirror {background: #f8f8f8;}
/*Fim Usado no form do mapeamento*/

.imgchecklink{ margin-left: 5px; width: 20px}