/* 
    Document   : mobile
    Created on : 17/08/2009, 16:12:31
    Author     : Marcos
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    background-color:red;
}

