/* 
Document   : padrao
Created on : 08/07/2009, 13:38:18
Author     : Marcos
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body
{
    font-family: Tahoma,verdana, arial, sans;
    font-size: 83%;
    text-decoration: none;
    color: #000000;
    
}



#bodyMenor{
    width: 735px;
}

#bodyLetraMaior{
    font-size:84%;
}

a{
    font-weight:inherit;
    color:#0066CC;
    cursor:pointer;
}
a:visited{
    color:#0066CC;
}
a:hover{
    text-decoration:underline;
    font-size:105%;
}
img{
    vertical-align:middle;
}

#page
{
    padding: 10px;
    border: 2px solid #AEC9E3;
    background-color:white;
}

#body
{

    border: 2px solid #AEC9E3;
    background-color:white;
    padding:0.1%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

#page-header
{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    vertical-align:middle;
    border-bottom: 2px solid #AEC9E3;
    margin-bottom: 0.1%;

}
#page-sub-header
{	
    font-weight: bold;
    text-align: left;
    padding:0.8%;
    vertical-align:middle;
    margin-bottom: 0.1%;

}
.cabecalhoConsulta{
    background-color:#AEC9E3;
    padding:0.9%;
    margin-bottom:0.1%;
    font-size:105%;

}
.cabecalhoConsulta .esquerda{
    float:left;
    text-align:right;

}
.cabecalhoConsulta .direita{
    text-align:right;
    padding-right:1%;
}
.rodapeConsulta{
    margin-top:0.1%;
    background-color:#AEC9E3;
}



.resultadoConsulta{

    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin-bottom:3%;
}
.resultadoConsulta .titulo{
    font-weight:bold;
    font-size:105%;
    margin-bottom:1%;
}
.resultadoConsulta .atributo{
    padding-left:1%;
    padding-top:0.2%;
}
.resultadoConsulta .atributo .valor{
    padding-left:2%;    
}

#page-footer
{
    font-size: 11px;
    text-align: center;
    vertical-align:middle;
    border: 1px solid black;
    margin: 5px;
    background: #FFFFFF;
    opacity: 0.8;
}
#page-body
{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #585858;
    margin: 5px;
    background: #FFFFFF;
    opacity: 0.8;
}
#page-unic-body
{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #585858;
    background: #FCFCFC;
    opacity: 0.8;
}
#body-resultado
{	
    vertical-align: middle;

    border: 2px solid #AEC9E3;
    margin: 0px;
    background: #FFFFFF;
    opacity: 0.9;
    padding-top:1%;
    padding-bottom:1%;

}

#body-resultado-interno
{

    vertical-align: middle;
    padding: 0px;
    text-align:left;
    border: solid #AEC9E3;
    border-left:0px;
    border-right:0px;
    margin: 0px;
    background: #FFFFFF;
    opacity: 0.9;
    padding-top:3em;
    margin-bottom:1%;
    margin-top:1%;
    padding-left:4%;
}

.initial-table
{
    width: 95%;
    padding: 5px;
}

.barra-escura{
    background-color:#AEC9E3;
}

.subheader-text
{
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    background-color: #AEC9E3;
}

.subTitulo-center
{
    font-size: 120%;
    text-align:center;
    font-weight: bold;
    padding-left: 10px;
    background-color: #AEC9E3;
    padding:5px;
    margin-bottom:15px;
    font-family:arial, sans-serif;
}
.subTituloBusca
{
    font-size: 120%;
    text-align:center;
    font-weight: bold;
    padding-left: 10px;
    background-color: #414042;
    color:white;
    font-family:"Zurich Ex BT", "arial", "sans-serif";
    padding:5px;
    margin-bottom:15px;
}
.subTitulo-left
{
    font-size: 120%;
    text-align:left;
    font-weight: bold;
    padding-left: 10px;
    background-color: #AEC9E3;
    padding:5px;
    margin-bottom:15px;
    font-family:Arial;
}

.subtitle
{
    font-size: 110%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    padding-left:5%;
    padding-bottom:4%;
    padding-top:1%;
}
.subtitulo{
    font-size: 110%;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    background-color:#D7EBFF;
    padding-left:5%;
    padding-bottom:0.6%;
    padding-top:0.6%;

}
.editar{
    text-align:right;
    padding-right:5%;
    font-size:105%;
    font-weight:bold;
}

.editar a{
    text-decoration:underline;

}

a:hover{
    text-decoration:underline;
    font-size:110%;
}
.adm-title{
    font-size:120%;
    font-weight:bold;
    text-align:center;
    font-family: verdana, arial, sans;
    font-style:italic;
    text-decoration:underline;
    padding:4px;
}

.LinhaEntrada .Label{
    float:left;
    text-align:right;
    width:40%
}

.LinhaEntrada .Tab{
    padding-left:5%;
}

.LinhaEntrada .Value{
    margin:0 0 20px 41%;
}
.LinhaEntrada .ValueErro{
    margin:0 0 20px 41%;
    color:red;
    font-weight:bold;
}

.LinhaEntrada .alerta {
    border:0px solid gray;
    color: red;
    margin:0 0 10px 41%;
}


.LinhaEntrada .Buttons{
    margin:0 0 10px 0%;
    padding-top:2%;
    text-align:center;
}
.LinhaEntrada .Buttons input{
    background-color: #AEC9E3;
    border-color: #AAAAAA;
    color: #000000;
    font-weight: bold;
    font-family: verdana;
}
.LinhaEntrada .OptionButtons{
    margin:0 0 10px 25px;
}
.LinhaEntrada .EspacoAntes{
    padding-top:5px;
}
.EspacoPequeno{
    padding-top:1px;
    font-size:0;
}
.Espaco{
    padding-top:5px;
    
}

.LinhaEntrada .EspacoEntre{
    padding-top:5px;
    padding-bottom:5px;
}

.LinhaEntrada .Value input{width:50%;}
.LinhaEntrada .Value select{width:50%;}
.textoErro{
    color:red
}
.TextoDivAlerta{
    color:#EE2037;
    font-size:100%;
    font-family:Verdana, Arial;
    margin:0 0 15px 5%;
}

h1, h2, h3, h4, h5, h6{margin:0px 0px 5px;font-weight:normal;line-height:110%;}

h1, h2{
    font-size:161.7%;
}


table{
    border-collapse:collapse;
}
td{vertical-align:top;}

.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.bold{font-weight:bold;}
.ValignTop{vertical-align:top;}
.middle{vertical-align:middle;}

.repositorios-table
{
    width: 100%;
    padding: 2px;
    border: 2px solid #AEC9E3;
    margin-top:3%;

}
.repositorios-table th{
    color: white;
}
.repositorios-table td{
    vertical-align: middle;
}
.price-yes
{
    text-align: center;
    background-color: #D7EBFF;
}

.price-no
{
    text-align: center;
}

#infoIcones
{
    font-size: 150%;
    font-family: Arial;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #AEC9E3;
    margin-top: 3%;
    background: #FFFFFF;
    opacity: 0.8;
    padding: 2px;
    margin-left: 0;
    margin-right: 0;
}
#infoIcones td {vertical-align:middle;color: black;font-size: 85%;}
.BOTAO
{
    background-color: #AEC9E3;
    border-color: #AAAAAA;
    color: #000000;
    font-weight: bold;
    font-family: verdana;
}
.BotaoFechar{
    text-align:center;    
    margin-top:2%;
}
.BotaoFechar .color{
    background-color: #AEC9E3;
    font-weight:bold;
}

.inputSelecionado{
    background-color:#D7EBFF;
    font-weight:bold;
}

.cabecalhoBusca{
    vertical-align:middle;
}
.clear { clear: both; }
.logoBusca{
    text-align:center;
    background-color:#0a94d6;

}
.logoBusca a{
  text-decoration:none;
  color:white;
}

.linkCantoDireito{
    float:right;
    text-align:right;
    padding-right:2%;
    font-size:100%;
    font-weight:bold;
    vertical-align:middle;
}

.linkCantoDireito a{
    text-decoration:underline;
}
.linkCantoDireito a:hover{
    font-size:102%;
    text-decoration:none;
}

/* parte da Info detalhada*/
.tituloPrincipal{
    margin-bottom:2%;
    background-color:#AEC9E3;
}
.tituloPrincipal .tituloObj{
    font-size:155%;
    margin-left:5%;
    font-weight:bold;
}

.tituloPrincipal .identificadorObj{
    margin-left:7%;
    color:#32618F;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:bold;
}


.topicosObj .nome{
    float:left;
    text-align:left;
    margin-left:10%
}

.topicosObj .valor{
    margin:0% 0% 1% 29%;

}
.topicosObj .titulo{
    margin:1% 0% 1% 7%;
    font-size:140%;
    text-decoration:underline;
}
.subTopicosObj .nome{
    float:left;
    text-align:left;
    margin-left:13%;
}
.subTopicosObj .valor{
    margin:0% 0% 1% 30%;

}
.subTopicosObj .titulo{
    margin:1% 0% 1% 9%;
    font-size:110%;
    text-decoration:underline;
}
