<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	       xmlns:util="http://www.springframework.org/schema/util"
	
	xmlns:encryption="http://www.jasypt.org/schema/encryption"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
  http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
http://www.jasypt.org/schema/encryption http://www.jasypt.org/schema/encryption/jasypt-spring31-encryption-1.xsd">


	<!-- TODO: use inversion of control instead of this ! -->
	<bean id="applicationContextProvider" class="feb.spring.ApplicationContextProvider"></bean>


	<!-- TODO: Use properties TODO: Encrypt password <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close" p:driverClassName="${dataSource.driverClassName}" 
		p:url="${dataSource.url}" p:username="${dataSource.username}" p:password="${dataSource.password}" 
		/> -->

	<encryption:string-encryptor id="myEncryptor"
		password="feb@RNP" pool-size="5" />

<!--   <encryption:encryptable-properties id="myProperties" encryptor="myEncryptor" location="file:///etc/feb/feb.properties"  -->
<!--   /> -->
  
<!--   in case the user does not specify a properties file -->
  		<util:properties id="defaultProperties">
<prop key="Postgres.username">feb</prop>
<prop key="Postgres.password">feb@RNP</prop>
<prop key="Postgres.database">federacao</prop>
<prop key="Postgres.host">127.0.0.1</prop>
<prop key="Postgres.port">5432</prop>

</util:properties>
		
  
  	<bean id="febConfig" class="feb.spring.FebConfig">
		<property name="file"><value>file:///etc/feb/feb.properties</value></property>
		<property name="defaultProperties" ref="defaultProperties"/>
		</bean>
		

	

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" p:driverClassName="org.postgresql.Driver"
		p:url="jdbc:postgresql://#{febConfig.host}:#{febConfig.port}/#{febConfig.database}"
		p:username="#{febConfig.username}" p:password="#{febConfig.password}" />

	<bean id="documentosDAO" class="feb.data.daos.DocumentosHibernateDAO" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven />

	<bean id="repositoryDAO" class="feb.data.daos.RepositoryHibernateDAO">
	</bean>

	<bean id="subFederationDAO" class="feb.data.daos.SubFederacaoHibernateDAO">
	</bean>

	<bean id="PadraoMetadadosDAO" class="feb.data.daos.PadraoMetadadosHibernateDAO">
	</bean>

	<bean id="MapeamentoDAO" class="feb.data.daos.MapeamentoHibernateDAO">
	</bean>

	<bean id="UsuarioDAO" class="feb.data.daos.UsuarioHibernateDAO">
		<!-- <property name="sessionFactory" ref="sessionFactory"/> -->
	</bean>

	<bean id="TokensDAO" class="feb.data.daos.TokensHibernateDao">
	</bean>

	<bean id="Indexador" class="feb.ferramentaBusca.indexador.Indexador">
	</bean>

	<bean id="StopWord" class="feb.data.daos.StopWordHibernateDao" />

	<bean id="visitasDao" class="feb.data.daos.VisitasHibernateDao" />
	


	<context:annotation-config />
	<!--Inicio Inicializar o Robo -->

	<bean id="robo" class="feb.robo.main.Robo" />

	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="robo" />
		<property name="targetMethod" value="testaUltimaImportacao" />
		<property name="concurrent" value="false" />
	</bean>


	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail" />
		<!-- run every morning at 2 AM -->
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
	<!--Fim Inicializar o Robo -->

</beans>
 
