<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="Session">
    <!--<property name="hibernate.default_schema">public</property>! -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.jdbc.batch_size">30</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="hibernate/Mapping.hbm.xml"/>
    <mapping resource="hibernate/MetadataRecord.hbm.xml"/>
    <mapping resource="hibernate/Documentos.hbm.xml"/>
    <mapping resource="hibernate/Objeto.hbm.xml"/>
    <mapping resource="hibernate/Token.hbm.xml"/>
    <mapping resource="hibernate/Repositorio.hbm.xml"/>
    <mapping resource="hibernate/SubFederacao.hbm.xml"/>
    <mapping resource="hibernate/RepositorioSubFed.hbm.xml"/>
    <mapping resource="hibernate/Usuario.hbm.xml"/>
    <mapping resource="hibernate/Autores.hbm.xml"/>
    <mapping resource="hibernate/Visita.hbm.xml"/>
    <mapping resource="hibernate/DocumentosVisitas.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
